.slash {
    color: white;
    background-color: blue;
    padding : 20px;
    font-size: 56px;
    border-radius: 26px;
    -webkit-text-stroke: 3px black;
    border: 2px solid #A1E3F9;
	box-shadow: 6px 6px 26px blue;
}

body {
        background-image: url('bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
}

/* Card Picture */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
	
.card1 {
    background-color: #FFF4B7;
    border-radius: 10px;
    margin: 8px;
    width: 250px;
    transition: all 2s ease-in-out;
    overflow: hidden; /* Prevent overflow of content */
	color: black;
	border: 2px solid #A1E3F9;
	box-shadow: 2px 2px 20px blue;
}

.card-content {
    padding: 20px;
}
	
.student-image {
    width: 100%;
    border-radius: 5px;
}